* {
    margin: 0;
    padding: 0;
}

body {
    /*position: relative;*/
    height: 100vh;
    background: url('../img/background.jpg');
    background-size: cover;
}

.borderBottom {
    border-bottom: solid black 2px;
}

.topLeft {
    position: absolute;
    top: 45px;
    left: 10%;
}

.topRight {
    position: absolute;
    top: 45px;
    right: 6%;
}

.bottomCenter {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.bottomCenter img {

    margin: 0 auto;
}

.arrow-left {
    width: 40px;
    height: 40px;
    top: 180px;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(225deg);
    border-left: none;
    border-top: none;
    border-right: 4px black solid;
    border-bottom: 4px black solid;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clubs-card {
    width: 35px;
}
.diamonds-card {
    width: 36px;
}
.spades-card {
    width: 31px;
}

.pass-card {
    width: 40px;
}



.cutting {
    padding-top: 6%!important;
    padding-bottom: 6%!important;
}

.card {
    cursor: pointer;
}

.disabledCards {
    pointer-events: none;
}

.arrow-left,
.arrow-left:before {
    position: absolute;
    left: 50%;
}

.passBtn {
    /*padding: 21%!important;*/
}

#left {
    /*width: 110%;*/
    /*padding-left: 6%;*/
}

#left .card {
    margin-left:-25px;
}

#right {
    /*width: 100%;*/
    /*padding-right: 6%;*/
}

#right .card {
    margin-right: -25px;
}
.arrow-left:before
{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: arrow-left;
}

@keyframes arrow-left {

    0%{
        opacity: 1 ;

    }
    100% {
        opacity: 0 ;
        transform: translate(-10px, -10px)
    }
}

.arrow-right {
    width: 40px;
    height: 40px;
    top: 180px;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(225deg);
    border-left: none;
    border-top: none;
    border-right: 4px black solid;
    border-bottom: 4px black solid;
}

.arrow-right,
.arrow-right:before {
    position: absolute;
    left: 50%;
}

.arrow-right:before
{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: arrow-right;
}

.arrow-left, .arrow-right, .arrow-bottom {
    display: none;
}



@keyframes arrow-right {

    0%{
        opacity: 1 ;

    }
    100% {
        opacity: 0 ;
        transform: translate(-10px, -10px)
    }
}

.arrow-bottom {
    width: 40px;
    height: 40px;
    bottom: 111%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 4px black solid;
    border-bottom: 4px black solid;
}

.arrow-bottom,
.arrow-bottom:before {
    position: absolute;
    left: 50%;
}

.arrow-bottom:before
{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: arrow-bottom;
}

@keyframes arrow-bottom {

    0%{
        opacity: 1 ;

    }
    100% {
        opacity: 0 ;
        transform: translate(-10px, -10px)
    }
}


.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}


#centerBlock {

    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);

}

.handBlock {
    position: absolute;
    width: 200px;
    height: 110px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: #c6cfc1;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    right: 11%; /* position the left edge of the element at the middle of the parent */
    transform: translate(50%, -50%);
}
.gameScoreBox {
    position: absolute;
    width: 200px;
    height: 110px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: #c6cfc1;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(50%, -50%);
}
.handBlock .rightPlace, .gameScoreBox .rightPlayerScore {
    position: absolute;
    right: 5px;
}

.passBtn {
    font-size: 16px;
}

.handBlock .leftPlace, .gameScoreBox .leftPlayerScore {
    position: absolute;
    left: 5px;
}

.exit img {
    width: 37px;
}

.handBlock .bottomPlace, .gameScoreBox .bottomPlayerScore {
    position: absolute;
    bottom: 5px;
    left: 39%;
}

#centerBlock img:nth-child(1){
    width: 86px;
    transform: rotate(-12deg);
}

#centerBlock img:nth-child(2){
    width: 86px;
    transform: rotate(20deg);
}

#centerBlock img:nth-child(3){
    width: 86px;
    transform: rotate(40deg);
}

.displayBlock {
    display: block!important;
}

.h-center {
    text-align: center;
}

.v-center span {

}

#scoreTable{
    width: 170px;
    position:absolute;
    margin:0 auto;
    top: 50%;
    left: 5px;
    color: white;
    text-align:center;/* Add This*/

}​

 #scoreTable table, th, td {
     border: 2px solid black;
     line-height: 24px;
 }

.modal {
    background-color: white;
    border-radius: 10px;
    display: none;
    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 990;
}

.modal.modal-is-visible {
    display: block;
    z-index: 1010;
}
.modal h1 {
    margin: 0;
    padding: 0;
}
.modal .modal-body {
    height: 100%;

}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 980;
}
.modal-overlay.modal-is-visible {
    display: block;
    z-index: 1009;
}